# SwiftFormat config compliant with Google Swift Guideline
# https://google.github.io/swift/#control-flow-statements
# https://github.com/NoemiRozpara/Google-SwiftFormat-Config

# Specify version used in a project

--swiftversion 5.9

# Rules explicitly required by the guideline

--rules                           \
blankLinesAroundMark,             \
blankLinesAtEndOfScope,           \
blankLinesAtStartOfScope,         \
blankLinesBetweenScopes,          \
braces,                           \
consecutiveBlankLines,            \
consecutiveSpaces,                \
duplicateImports,                 \
elseOnSameLine,                   \
emptyBraces,                      \
enumNamespaces,                   \
extensionAccessControl,           \
hoistPatternLet,                  \
indent,                           \
leadingDelimiters,                \
linebreakAtEndOfFile,             \
redundantInit,                    \
redundantParens,                  \
redundantPattern,                 \
redundantRawValues,               \
redundantType,                    \
redundantVoidReturnType,          \
semicolons,                       \
sortImports,                      \
sortSwitchCases,                  \
spaceAroundBraces,                \
spaceAroundBrackets,              \
spaceAroundComments,              \
spaceAroundGenerics,              \
spaceAroundOperators,             \
spaceAroundParens,                \
spaceInsideBraces,                \
spaceInsideBrackets,              \
spaceInsideComments,              \
spaceInsideGenerics,              \
spaceInsideParens,                \
todos,                            \
trailingClosures,                 \
trailingCommas,                   \
trailingSpace,                    \
typeSugar,                        \
void,                             \
wrap,                             \
wrapArguments,                    \
wrapAttributes,                   \
#
#
# Additional rules not mentioned in the guideline, but helping to keep the codebase clean 
# Quoting the guideline: 
# Common themes among the rules in this section are: 
# avoid redundancy, avoid ambiguity, and prefer implicitness over explicitness
# unless being explicit improves readability and/or reduces ambiguity.
#
#
andOperator,                      \
isEmpty,                          \
redundantBackticks,               \
redundantBreak,                   \
redundantExtensionACL,            \
redundantGet,                     \
redundantLetError,                \
redundantNilInit,                 \
redundantObjc,                    \
redundantReturn,                  \
redundantSelf,                    \
strongifiedSelf,                  \
#
#
# Custom rules
#
#
initCoderUnavailable,             \
blankLinesBetweenImports,         \
headerFileName,                   \
fileHeader,                       \
modifierOrder


# Options for basic rules

--extensionacl on-declarations
--indent tab
--tabwidth 2
--ifdef no-indent
--maxwidth 150
--typeattributes prev-line
--voidtype void
--wraparguments before-first
--wrapparameters before-first
--wrapcollections before-first
--wrapreturntype preserve
--wrapconditions after-first

# Option for additional rules

--self init-only
--header ""
--modifierorder "fileprivate,open,public,internal,private,override,required,convenience,final,class,static,lazy,weak"
--allman false
